backoff==2.2.1
certifi==2023.7.22
charset-normalizer==3.2.0
idna==3.4
monotonic==1.6
protobuf==4.21.12
pygame==2.5.0
pygame-ce==2.3.1
pygame-gui==0.6.9
python-dateutil==2.8.2
python-i18n==0.3.9
PyTMX==3.32
requests==2.31.0
segment-analytics-python==2.2.3
six==1.16.0
urllib3>=2.0.7
